<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}RecipeAPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('ingredient_all') }}">All Ingredients</a>
        <a href="{{ url_for('recipe_all') }}">All Recipes</a>
        <a href="{{ url_for('ingredient_filter') }}">Filter Ingredients</a>
    </nav>
    <hr>
    <h1>FILTER RECIPES BY NAME</h1>
        <p>This page is used to filter recipes by name</p>
        <p>You can search for a recipe to view the instructions on how to cook it</p>
        <p>If you dont know how many recipes are available to view, you can check out "All Recipes" above</p>
        <p>Type /api/recipes?recipeid=*id* or /api/recipes?recipe_name=*name* to search specific recipes by id or name in the URL.</p>
        

        <form name="filter" method="get">
            <input type="text" placeholder="Search for Recipes" name="recipe_name"> 
            <button type="submit"></button>
        </form>
</body>
</html>